@model websiteTUTHIEN.Models.TableDuAn
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<link rel="stylesheet" href="~/css/custom.css" />

<div class="container">
    <div class="custom-card">
    <h2>Xóa Dự Án</h2>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Mã Dự Án</dt>
            <dd class="col-sm-10">@Model.MaDuAn</dd>

            <dt class="col-sm-2">Tên Dự Án</dt>
            <dd class="col-sm-10">@Model.TenDuAn</dd>

            <dt class="col-sm-2">Hình Ảnh</dt>
            <dd class="col-sm-10">
                <img src="@Model.Hinhanh" alt="@Model.TenDuAn" style="width: 100px;" />
            </dd>

            <dt class="col-sm-2">Số Tiền Mục Tiêu</dt>
            <dd class="col-sm-10">@Model.SoTienMucTieu.ToString("C")</dd>

            <dt class="col-sm-2">Số Tiền Hiện Tại</ dd>
            <dd class="col-sm-10">@(Model.SoTienHienTai.HasValue ? Model.SoTienHienTai.Value.ToString("C") : "Chưa có")</dd>

        </dl>
    </div>

        <form asp-action="DeleteDuAn" method="post" style="display: flex; flex-direction: column; align-items: center;">
        <input type="hidden" asp-for="MaDuAn" />
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="IndexDuAn" class="btn btn-secondary">Hủy</a>
        </div>
    </form>

    </div>
</div>
