@using websiteTUTHIEN.Models
@using Microsoft.AspNetCore.Http

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebsite</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css" asp-append-version="true" />
</head>
<body>
    <div id="page-wrapper">

        <!-- Header -->
        <!-- Header -->
        <header id="header">
            <h1><a href="/">Website Từ Thiện</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/"></a></li>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                        <a asp-controller="DuAn" asp-action="DuAn">Dự án</a>
                        <a asp-controller="BaiBao" asp-action="BaiBao">Bài báo</a>
                        
                        <a asp-controller="Admin" asp-action="Index">Admin</a>
                        <a href="@Url.Action("Index", "Admin")">Quản Trị</a>
                        <a asp-controller="User" asp-action="Edit">Trợ giúp</a>

                        @if (Context.Session.GetString("MaTK") != null)
                        {
                            @if (!string.IsNullOrEmpty(Context.Session.GetString("HinhAnh")))
                            {
                                <img src="@Context.Session.GetString("HinhAnh")" alt="Avatar" style="width: 35px; height: 35px; border-radius: 50%; margin-right: 0px; margin-left: 20px; vertical-align: middle;" />
                            }
                            else
                            {
                                <img src="/images/default-avatar.png" alt="Avatar" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;" />
                            }
                            <a class="simple-text logo-normal">

                                @Context.Session.GetString("TenND") <!-- Hiển thị tên tài khoản -->
                            </a>
                            <!-- Thêm link đăng xuất -->
                            <a asp-controller="User" asp-action="Dangxuat" class="btn btn-secondary">Đăng xuất</a>
                        }
                        else
                        {
                            <a asp-controller="User" asp-action="NguoiDung">Người dùng</a>
                            <a asp-controller="User" asp-action="DangNhap" class="button">Đăng nhập</a>
                            <a asp-controller="User" asp-action="DangKi" class="btn btn-secondary">Đăng ký</a>
                        }
                    </li>
                </ul>
            </nav>
        </header>


        <!-- Main Content -->
        @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            <div class="social-icons">
                <span>DoAnCN © 2024</span>
                <span>◯</span>
                <span>☰</span>
                <span>♔</span>
            </div>
            <ul class="copyright">
                <li>&copy; Website Tu Thien. By BNP</li>
            </ul>
        </footer>
    </div>

    <!-- JavaScript -->
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
