@model websiteTUTHIEN.Models.TableNguoiDung

@{
    ViewData["Title"] = "Thông Tin Người Dùng";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Người Dùng</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="container">
        <h1 style="align-items: center">Thông Tin Người Dùng</h1>

        <!-- Thông tin người dùng -->
        <div class="profile">
            <img src="@Model.AvatarNguoiDung" alt="@Model.TenNguoiDung"  />
            <div style="margin-left: 50px" class="user-info">
                <h2>@Model.TenNguoiDung</h2>
                <p><strong>Tên tài khoản:</strong> @Model.TenTk</p>
                <p><strong>Email:</strong> @Model.Email</p>
                <p><strong>Số điện thoại:</strong> @(Model.SdtnguoiDung?.ToString() ?? "Chưa cập nhật")</p>
                <p><strong>Địa chỉ:</strong> @(Model.DiaChi ?? "Chưa cập nhật")</p>
                <p><strong>Năm sinh:</strong> @(Model.NamSinh?.ToString("dd/MM/yyyy") ?? "Chưa cập nhật")</p>
            </div>
        </div>
        <!-- Nút chỉnh sửa -->
        <div class="edit-button" style="margin-top:100px">
            <a style="margin-right:300px;margin-left:100px" asp-controller="User" asp-action="CreateDuAn" class="btn btn-primary">Thêm Dự Án</a>
            <a asp-controller="User" asp-action="ChinhSua" asp-route-id="@Model.MaNguoiDung" class="btn btn-primary">Chỉnh sửa</a>
        </div>
    </div>
</body>
</html>
